.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.image_container {
  margin: 0 10% 0 15%;
}

.image_placeholder {
  width: 200px;
  height: 200px;
  float: left;
  margin: 15px;
  position: relative;
}

.image_large_placeholder {
  width: 450px;
  height: 450px;
  margin: auto;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.image_caption {
  position: absolute;
  top: 50%;
  left: 25%;
  font-size: 1.0em;
  color: white;
}

.image_large_caption {
  position: absolute;
  top: 50%;
  left: 35%;
  font-size: 2.0em;
  color: white;
}

.backdropStyle {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
}

.modalStyle {
  background-color: lightgray;
  border-radius: 0.5em;
  width: 800px;
  height: 500px;
  margin: auto;
  padding: 30px;
  position: relative;
}

.navigationHolder {
  display: inline-grid;
  grid-template-columns: 50px 500px 50px;
  grid-gap: 20px;
  align-items: center;
}

.hidden {
  display: hidden;
}

@media only screen and (max-width: 480px) {
  .modalStyle {
    width: 400px;
    height: 500px;
  }

  .navigationHolder {
    grid-template-columns: 5px 380px 5px;
    grid-gap: 20px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }


  20% {opacity: 1;}
  33% {opacity: 1;}
  53% {opacity: 0;}
  100% {opacity: 0;}
}
