.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.image_placeholder {
  width: 400px;
  height: 500px;
  float: left;
  margin: 10px;
  position: relative;
}

.image {
  height: 100%;
  width: 100%;
}

.image_caption {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5em;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
